{
  "presets": [
    "es2015",
    "react",
    [
      "env",
      {
        "modules": false,
        "useBuiltIns": false,
        "uglify": true,
        "targets": {
          "browsers": ["last 2 versions"]
        }
      }
    ],
    [
      "babel-preset-env",
      {
        "useBuiltIns": "entry"
      }
    ]
  ],
  "plugins": [
    "transform-decorators-legacy",
    "transform-class-properties",
    "syntax-dynamic-import",
    "transform-object-assign",
    ["transform-runtime",{"polyfill": false}],
    ["transform-object-rest-spread",{"useBuiltIns": true}],
    ["import", { "libraryName": "antd", "style": true }]
  ]
}