html,
body {
    min-width: 850px;
}

.ant-spin-container {
    height: 100%;
}

.ant-table-tbody>tr>td,
.ant-table-thead>tr>th {
    white-space: nowrap;
}

.rtd-ellipsis {
    word-break: break-all;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.iconfont {
    cursor: pointer;
}

.iconfont.disabled {
    opacity: .4;
    cursor: default;
}

.icon-action {
    width: 16px;
    height: 16px;
    margin-right: 8px;
    cursor: pointer;
}

.charts-main {
    overflow-x: auto;
}

.charts-main canvas {
    width: 100% !important;
}


/* 粒子动画 start */

.pay-up-to-dowm-rowup {
    width: 10px;
    height: 10px;
    background: #ec7c31;
    -webkit-animation: 0.4s pay_up_to_dowm_rowup linear infinite normal;
    animation: 0.4s pay_up_to_dowm_rowup linear infinite normal;
    position: absolute;
    display: inline-block;
    border-radius: 50%;
    z-index: 1;
}

@keyframes pay_up_to_dowm_rowup {
    0% {
        background: #ec7c31;
        left: 48.8%;
        top: 0;
    }

    50% {
        background: #ec7c31;
        left: 48.8%;
        top: 90%;
    }

    51% {
        background: #ec7c31;
        left: 48.8%;
        top: 90%;
    }

    100% {
        background: #ec7c31;
        left: 48.8%;
        top: 0;
    }
}

.pay-right-to-left-rowup {
    width: 10px;
    height: 10px;
    background: #ec7c31;
    -webkit-animation: 0.2s pay_right_to_left_rowup linear infinite normal;
    animation: 0.2s pay_right_to_left_rowup linear infinite normal;
    position: absolute;
    display: inline-block;
    border-radius: 50%;
    z-index: 1;
}

@keyframes pay_right_to_left_rowup {
    0% {
        background: #ec7c31;
        left: 90%;
        top: 47%;
    }

    100% {
        background: #ec7c31;
        left: 0;
        top: 47%;
    }
}



.pay-left-to-right-rowup {
    width: 10px;
    height: 10px;
    background: #ec7c31;
    -webkit-animation: 0.2s pay_left_to_right_rowup linear infinite normal;
    animation: 0.2s pay_left_to_right_rowup linear infinite normal;
    position: absolute;
    display: inline-block;
    border-radius: 50%;
    z-index: 1;
}

@keyframes pay_left_to_right_rowup {
    0% {
        background: #ec7c31;
        left: 0;
        top: 47%;
    }

    100% {
        background: #ec7c31;
        left: 90%;
        top: 47%;
    }
}

.pay-left-to-right-2-rowup {
    width: 10px;
    height: 10px;
    background: #ec7c31;
    -webkit-animation: 0.2s pay_right_to_left_2_rowup linear infinite normal;
    animation: 0.2s pay_right_to_left_2_rowup linear infinite normal;
    position: absolute;
    display: inline-block;
    border-radius: 50%;
    z-index: 1;
}

@keyframes pay_right_to_left_2_rowup {
    0% {
        background: #ec7c31;
        left: 0;
        top: 47%;
    }

    100% {
        background: #ec7c31;
        left: 100%;
        top: 47%;
    }
}

.pay-left-to-right-3-rowup {
    width: 10px;
    height: 10px;
    background: #ec7c31;
    -webkit-animation: 0.2s pay_right_to_left_3_rowup linear infinite normal;
    animation: 0.2s pay_right_to_left_3_rowup linear infinite normal;
    position: absolute;
    display: inline-block;
    border-radius: 50%;
    z-index: 1;
}

@keyframes pay_right_to_left_3_rowup {
    0% {
        background: #ec7c31;
        left: -2.5px;
        top: 96%;
    }

    100% {
        background: #ec7c31;
        left: 100%;
        top: 96%;
    }
}



.pay-left-to-right-4-rowup {
    width: 10px;
    height: 10px;
    background: #ec7c31;
    -webkit-animation: 0.2s pay_right_to_left_4_rowup linear infinite normal;
    animation: 0.2s pay_right_to_left_4_rowup linear infinite normal;
    position: absolute;
    display: inline-block;
    border-radius: 50%;
    z-index: 1;
}

@keyframes pay_right_to_left_4_rowup {
    0% {
        background: #ec7c31;
        left: -27%;
        top: 47%;
    }

    100% {
        background: #ec7c31;
        left: 20%;
        top: 47%;
    }
}

.pay-left-to-right-5-rowup {
    width: 10px;
    height: 10px;
    background: #ec7c31;
    -webkit-animation: 0.2s pay_right_to_left_5_rowup linear infinite normal;
    animation: 0.2s pay_right_to_left_5_rowup linear infinite normal;
    position: absolute;
    display: inline-block;
    border-radius: 50%;
    z-index: 1;
}

@keyframes pay_right_to_left_5_rowup {
    0% {
        background: #ec7c31;
        left: -90px;
        top: -5px;
    }

    100% {
        background: #ec7c31;
        left: -5px;
        top: -5px;
    }
}


.pay-up-to-dowm-2-rowup {
    width: 10px;
    height: 10px;
    background: #ec7c31;
    -webkit-animation: 0.2s pay_up_to_dowm_2_rowup linear infinite normal;
    animation: 0.2s pay_up_to_dowm_2_rowup linear infinite normal;
    position: absolute;
    display: inline-block;
    border-radius: 50%;
    z-index: 1;
}

@keyframes pay_up_to_dowm_2_rowup {
    0% {
        background: #ec7c31;
        left: -6.5px;
        top: -2.5px;
    }

    100% {
        background: #ec7c31;
        left: -6.5px;
        top: 100%;
    }
}

.pay-up-to-dowm-chain-rowup {
    width: 10px;
    height: 10px;
    background: #ec7c31;
    -webkit-animation: 0.2s pay_up_to_dowm_chain_rowup linear infinite normal;
    animation: 0.2s pay_up_to_dowm_chain_rowup linear infinite normal;
    position: absolute;
    display: inline-block;
    border-radius: 50%;
    z-index: 1;
}

@keyframes pay_up_to_dowm_chain_rowup {
    0% {
        background: #ec7c31;
        left: 31.7%;
        top: 0;
    }

    100% {
        background: #ec7c31;
        left: 31.7%;
        top: 90%;
    }
}

.pay-dowm-to-up-chain-rowup {
    width: 10px;
    height: 10px;
    background: #ec7c31;
    -webkit-animation: 0.2s pay_dowm_to_up_chain_rowup linear infinite normal;
    animation: 0.2s pay_dowm_to_up_chain_rowup linear infinite normal;
    position: absolute;
    display: inline-block;
    border-radius: 50%;
    z-index: 1;
}

@keyframes pay_dowm_to_up_chain_rowup {
    0% {
        background: #ec7c31;
        left: 195px;
        top: 90%;
    }

    100% {
        background: #ec7c31;
        left: 195px;
        top: 0;
    }
}

.pay-lefttop-to-rightbottom-chain-rowup {
    width: 10px;
    height: 10px;
    background: #ec7c31;
    -webkit-animation: 0.4s pay_lefttop_to_rightbottom_chain_rowup linear infinite normal;
    animation: 0.4s pay_lefttop_to_rightbottom_chain_rowup linear infinite normal;
    position: absolute;
    display: inline-block;
    border-radius: 50%;
    z-index: 1;
}

@keyframes pay_lefttop_to_rightbottom_chain_rowup {
    0% {
        background: #ec7c31;
        left: -10px;
        top: 43px;
    }

    100% {
        background: #ec7c31;
        left: 190px;
        top: 140px;
    }
}

.pay-rightbottom-to-lefttop-chain-rowup {
    width: 10px;
    height: 10px;
    background: #ec7c31;
    -webkit-animation: 0.4s pay_rightbottom_to_lefttop_chain_rowup linear infinite normal;
    animation: 0.4s pay_rightbottom_to_lefttop_chain_rowup linear infinite normal;
    position: absolute;
    display: inline-block;
    border-radius: 50%;
    z-index: 1;
}

@keyframes pay_rightbottom_to_lefttop_chain_rowup {
    0% {
        background: #ec7c31;
        left: -10px;
        bottom: 43px;
    }

    100% {
        background: #ec7c31;
        left: 190px;
        bottom: 140px;
    }
}


/* 粒子动画 end */


.ellipsis-1 {
    word-break: break-all;
    display: -webkit-box !important;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.transform-90deg {
    /* Rotate div */
    transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    /* Internet Explorer */
    -moz-transform: rotate(90deg);
    /* Firefox */
    -webkit-transform: rotate(90deg);
    /* Safari 和 Chrome */
    -o-transform: rotate(90deg);
    /* Opera */
}

.transform-135deg {
    /* Rotate div */
    transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    /* Internet Explorer */
    -moz-transform: rotate(135deg);
    /* Firefox */
    -webkit-transform: rotate(135deg);
    /* Safari 和 Chrome */
    -o-transform: rotate(135deg);
    /* Opera */
}

.transform-26deg {
    /* Rotate div */
    transform: rotate(26deg);
    -ms-transform: rotate(26deg);
    /* Internet Explorer */
    -moz-transform: rotate(26deg);
    /* Firefox */
    -webkit-transform: rotate(26deg);
    /* Safari 和 Chrome */
    -o-transform: rotate(26deg);
    /* Opera */
}

.transform-154deg {
    /* Rotate div */
    transform: rotate(154deg);
    -ms-transform: rotate(154deg);
    /* Internet Explorer */
    -moz-transform: rotate(154deg);
    /* Firefox */
    -webkit-transform: rotate(154deg);
    /* Safari 和 Chrome */
    -o-transform: rotate(154deg);
    /* Opera */
}